<ul class="nav nav-list">
    <%= form_for(:admin, :url => { :action => :index }, :method => :get, :remote => true) do |f| %>
        <li class="nav-header">Données</li>
            <%= f.select :data_kind, options_for_select([[ "Utilisateurs", :users ], [ 'Boutiques', :shops ], 
            [ 'Scans', :scans ], [ 'Rewards', :rewards]], @data_kind), {}, 
            :onchange => "changeAndSubmit($(form));", :class => "span12" %>
    <% end %>
    <li class="nav-header">Opérations BD</li>
    <li><%= button_to "Générer des utilisateurs", admin_populate_users_path, :confirm => "Etes-vous sur ? ", :method => :get, :class => "btn" %></li>
    <li><%= button_to "Générer des visites / scans", admin_populate_visits_scans_path, :confirm => "Etes-vous sur ? ", :method => :get, :class => "btn" %></li> 
    <li><%= button_to "PopulateDb depuis Dir", admin_populate_db_from_fs_path, :confirm => "Etes-vous sur ? ", :method => :get, :class => "btn" %></li>
    <li><%= button_to "Nettoyer les rewards", admin_clean_rewards_path, :confirm => "Etes-vous sur ? ", :method => :get, :class => "btn" %></li>
    <li><%= button_to "Flush DB", admin_flush_db_path, :method => :get, :class => "btn" %></li>
    <li class="divider"></li>
</ul>
