<p id="notice"><%= notice %></p>

<%= render 'form', :locals => { :disabled => true} %>

<div class="form-horizontal">
  <div class="control-group">
    <div class="controls">
      <div class="btn-group">
        <%= link_to 'Editer', edit_user_path(@user), :class=>"btn btn-primary" %> |
        <%= link_to 'Retour', users_path, :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<!--
<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputFirstname">Prénom</label>
    <div class="controls">
      <input type="text" id="inputFirstname" placeholder=<%= @user.firstname%> disabled>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox"> Remember me
      </label>
      <button type="submit" class="btn">Sign in</button>
    </div>
  </div>
</form>

<p>
  <b>Firstname:</b>
  <%= @user.firstname %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Fb token:</b>
  <%= @user.fb_token %>
</p>

<p>
  <b>Phone number:</b>
  <%= @user.phone_number %>
</p>

<p>
  <b>Total points:</b>
  <%= @user.total_points %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
-->