<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#"><%= image_tag("logo-nude.png", :size => "120x30", :alt => "Step-In Back Office") %></a>
            <div class="nav-collapse collapse">
                <ul class="nav nav-tabs">

                    <% if signed_in? then %>
                        <%= active_link_to :home, "Synthèse" %>
                        <%= active_link_to :stats, "Statistiques" %>
                        <%= active_link_to :real_time, "Temps réel" %>
                        <% if (current_user.is_admin?) then %>
                            <%= active_link_to :admin, "Administration" %>
                        <% end %>
                    <% end %>
                </ul>
                <div class="navbar-form pull-right">
                    <% if signed_in? then %>
                        <%= button_to "Déconnexion", signout_path, :method => :delete, :class => "btn" %>
                    <% else %>
                        <%= form_for(:session, :url => sessions_path) do |f| %>
                            <%= f.text_field :email, :class => "span2", :placeholder => "Email" %>
                            <%= f.text_field :password, :class => "span2", :placeholder => "Mot de passe" %>
                            <%= f.submit "Connexion", :class => "btn" %>
                        <% end %>
                    <% end %>
                </div>
                <!--
                <input class="span2" type="text" placeholder="Email">
                    <input class="span2" type="password" placeholder="Password">
                    <button type="submit" class="btn">Sign in</button>
                </form>
                -->
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

